@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5qz3se');
  src:  url('../fonts/icomoon.eot?5qz3se#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5qz3se') format('truetype'),
    url('../fonts/icomoon.woff?5qz3se') format('woff'),
    url('../fonts/icomoon.svg?5qz3se#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-top:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location2:before {
  content: "\e948";
}
.icon-web:before {
  content: "\ea80";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-bootstrap:before {
  content: "\e900";
  color: #563d7c;
}
